PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DB_NAME?sslmode=require&channel_binding=require&connect_timeout=30&pool_timeout=30&connection_limit=10
DIRECT_DATABASE_URL=postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DB_NAME?sslmode=require&connect_timeout=30
